<ion-content >
  <form >
    <ion-item>
      <div class="imag">
        <img src="../assets/img/logo.png">
        <br>
        <ion-title>Iniciar sesión</ion-title>
      </div>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" placeholder="Email" required="required"></ion-input>

      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" placeholder="password" required="required"></ion-input>
    </ion-item>
      <ion-button type="submit" expand="block" routerLink="/tabs">Iniciar sesión</ion-button>
      <ion-button type="submit" expand="block" routerLink="/register">Registrar</ion-button>

  </form>
</ion-content>
