
<ion-content>
  <div class="wrapper">
    <div class="logo">
        <img src="./assets/img/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
       REGISTRARSE
    </div>
    <form class="p-3 mt-3" [formGroup]= "formularioregistro" (submit)="register(formularioregistro)">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input formControlName="username" id="username" placeholder="Nombre">
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input formControlName="email" id="email" placeholder="Email">
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input formControlName="password" type="password" id="password" placeholder="Password">
    </div>
        <button class="btn mt-3">Registrar</button>
  </form>
  </div>

</ion-content>
