
<ion-content>
  <form>
  <ion-title>REGISTRAR USUARIO</ion-title>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="email" name="email" placeholder="Email" required="required"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="email" name="email" placeholder="Email" required="required"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="email" name="email" placeholder="Email" required="required"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">correo electronico</ion-label>
      <ion-input type="email" name="email" placeholder="Email" required="required"></ion-input>
    </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">contrasena</ion-label>
          <ion-input type="password" name="password" placeholder="password" required="required"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">REGISTRAR</ion-button>


  </form>

</ion-content>
