
<ion-content>

  <div class="wrapper">
    <header>
      <div class="file-upload">
        <button class="file-upload-btn" >Subir imagen</button>

        <div class="image-upload-wrap">
          <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
          <div class="drag-text">
            <h3>Arrastra y suelta un archivo o selecciona para agregar una imagen</h3>
          </div>
        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="your image" />
          <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
          </div>
        </div>
      </div>
    </header>
    <div class="sections">

      <section class="active">
        <input type="text" placeholder="Title" id="title"/>
      </section>
    </div>

    <div class="ways">
      <div class="box">
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>

        <select>
        <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>

        <select>
          <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
          </select>
      </div>
      <button class="btn mt-3"  routerLink="/tabs">predecir</button>
      <button class="btn mt-3"  routerLink="/register">publicar</button>

    </div>
  </div>
</ion-content>
