<ion-header>
  <ion-toolbar class="T">
    <ion-title class="Ti">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor-principal">
      <div class="imagen">
        <img src="assets/img/menu.png">
      </div>
      <button ion-button class="boton" routerLink="/mis-casas">
        <ion-img class="imagen-boton" src="assets/img/micasa.png" ></ion-img>
        <ion-label class="titulo">Mis casas</ion-label>
      </button>
      <button ion-button class="boton" routerLink="/prediccion">
        <ion-img class="imagen-boton" src="assets/img/predecir.png" ></ion-img>
        <ion-label class="titulo">Predecir</ion-label>
      </button>
      <button ion-button class="boton" routerLink="/visitar-casas">
        <ion-img class="imagen-boton" src="assets/img/visitarcasa.png" ></ion-img>
        <ion-label class="titulo">Visitar casas</ion-label>
      </button>
    </div>

</ion-content>t>
