<ion-header>
  <ion-toolbar class="T">
    <ion-title class="Ti">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor-principal">
      <div class="imagen">
        <img src="assets/img/fondo4.png">
      </div>
      <button ion-button class="boton" routerLink="/tabs/mis-casas">
        <ion-img class="imagen-boton" src="assets/img/equipo.png" ></ion-img>
        <ion-label class="titulo">Personal Medico</ion-label>
      </button>
      <button ion-button class="boton" routerLink="/tabs/prediccion">
        <ion-img class="imagen-boton" src="assets/img/prediccion.png" ></ion-img>
        <ion-label class="titulo">Predecir salud</ion-label>
      </button>
      <button ion-button class="boton" routerLink="/tabs/detalle">
        <ion-img class="imagen-boton" src="assets/img/pacie.png" ></ion-img>
        <ion-label class="titulo">Registro de pacientes</ion-label>
      </button>
    </div>

</ion-content>
