


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="categorias" routerLink="/categorias">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prediccion" routerLink="/tabs/prediccion">
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>prediccion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
